/* Body */
body{
    
  background-color: lightgrey;
  /*background-color: rgb(237, 243, 187), 243, 187), 190, 132), 190, 132), 190, 132), 190, 132), 190, 132); */
}

@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
}

  .navigation .navbar-brand{
	color: white; 
	margin-left: 50px; 
	padding: inherit; 
	font-weight: bold; 
	background-color:darkcyan;
	font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {text-align: center;
    font-size: 40px;
    color: rgb(23, 58, 77);
}

h2 {
      font-size: 30px;
      color:darkcyan;
  }

h3 {
    font-size: 30px;
    color:darkcyan;
}

h4 {
    font-size: 20px;
    color:darkcyan;
}

h5 {
    font-size: 15px;
    color:darkcyan;
    text-align: justify;
    word-spacing: 5px;
    line-height: 1.6;
    
}

h6 {
  font-size: 10px;
  color:darkcyan;
  
}

p {
    padding:5px;
    font-size:17px;
    color:darkolivegreen;
}


header {
  background-color:lightgrey;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color:rgb(244, 248, 248);
}

img {
  border-radius: 50%;
  padding:20;}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.myDiv1 {
  width: 1000px;
  height: 700px;
  border: 5px outset teal;
  background-color:rgb(236, 234, 234);
  text-align: center;
  
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;

  padding: 30px;
}